gin-swagger
vendor/
./gin-swagger-gorm
./aor-gin-swagger
./aor-gin-swagger-generator
./gin-swagger-aor
./bin/gin-swagger-aor
./bin/*
./gin-swagger-aor
./bin/gin-swagger-aor*
./generated/

*.db
*.boltdb

bin/gin-swagger-aor
bin/aor-entity-example