# https://github.com/go-swagger/go-swagger/blob/master/docs/use/template_layout.md
layout:
  application:
    - name: configure
      source: "{{ .TmpDir }}/templates/restapi.gotmpl"
      target: "{{`{{ joinFilePath .Target .ServerPackage }}`}}"
      file_name: "config.go"
    - name: embedded_spec
      source: asset:swaggerJsonEmbed
      target: "{{`{{ joinFilePath .Target .ServerPackage }}`}}"
      file_name: "embedded_spec.go"
    - name: server
      source: "{{ .TmpDir }}/templates/api.gotmpl"
      target: "{{`{{ joinFilePath .Target .ServerPackage }}`}}"
      file_name: "api.go"
    - name: main
      source: "{{ .TmpDir }}/templates/main.gotmpl"
      target: "{{`{{ joinFilePath .Target \"cmd\" (dasherize (pascalize .Name)) }}-server`}}"
      file_name: "main.go"
    - name: migrate
      source: "{{ .TmpDir }}/templates/migrate.gotmpl"
      target: "{{`{{ joinFilePath .Target \"cmd\" (dasherize (pascalize .Name)) }}-server`}}"      
      # target: "{{`{{ joinFilePath .Target .ServerPackage }}`}}"
      file_name: "migrate.go"
    - name: service
      source: "{{ .TmpDir }}/templates/service.gotmpl"
      target: "{{`{{ joinFilePath .Target \"cmd\" (dasherize (pascalize .Name)) }}-server`}}"
      file_name: "service.go"
    - name: doc
      source: asset:serverDoc
      target: "{{`{{ joinFilePath .Target .ServerPackage }}`}}"
      file_name: "doc.go"
  models:
    - name: definition
      source: asset:model
      target: "{{`{{ joinFilePath .Target .ModelPackage }}`}}"
      file_name: "{{`{{ (snakize (pascalize .Name)) }}`}}.go"
  operations:
    - name: parameters
      source: "{{ .TmpDir }}/templates/parameter.gotmpl"
      target: "{{`{{ if gt (len .Tags) 0 }}{{ joinFilePath .Target .ServerPackage .APIPackage .Package  }}{{ else }}{{ joinFilePath .Target .ServerPackage .Package  }}{{ end }}`}}"
      file_name: "{{`{{ (snakize (pascalize .Name)) }}`}}_parameters.go"
